<% set_meta_tags title: "Local Ethics — Boolder Dartmoor" %>
<% set_meta_tags description: "Dartmoor is a beautiful and wild place — please help us keep it that way for everyone." %>

<% set_meta_tags og: { type: "website", image: image_url("hero-about.jpg") } %>

<main class="lg:relative bg-white">
  <div class="mx-auto w-full max-w-7xl pt-16 pb-20 text-center lg:py-48 lg:text-left">
    <div class="px-6 sm:px-8 lg:w-1/2 xl:pr-16">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
        <span class="block xl:inline">Local</span>
        <span class="block text-emerald-600 xl:inline">Ethics</span>
      </h1>
    </div>
  </div>
  <div class="relative h-64 w-full sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2">
    <img class="absolute inset-0 h-full w-full object-cover" src="<%= image_path "hero-about.jpg" %>" alt="">
  </div>
</main>

<div class="bg-warm-gray-50 mt-4 sm:mt-16">

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <p class="max-w-3xl text-lg text-warm-gray-500">
        Dartmoor is a beautiful and wild place — let's keep it that way for everyone.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Chalk</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Clean off as much chalk as you can when you leave. Tick marks are not a gift for the next person — they take away the joy of problem solving and are unsightly to non-climbers.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Cleaning</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Remove the minimum amount of vegetation when visiting less often climbed boulders.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Lamp Sessions</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Enjoy lamp sessions responsibly. Avoid them in the woods near houses.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Parking</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Don't block gates or roads. It is very possible you could arrive at an area and find the parking full — please be flexible with your plans.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Dogs</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Keep dogs under control. Worried sheep and ponies are not nice for anyone.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Rubbish</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Please take it home, and if you see any left behind, take that too.
      </p>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl py-8 px-6 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-warm-gray-900">Toilets</h2>
      <p class="mt-6 max-w-3xl text-lg text-warm-gray-500">
        Use public toilets where possible. If you are in a jam, a poo bag and packing it out is the best course of action.
      </p>
    </div>
  </section>

</div>
